# DB connection
WCN_DB_DBNAME=wcn
WCN_DB_USERNAME=wcn
WCN_DB_PASSWORD=  **_ change me _**
WCN_DB_HOST=dbmongo

# Redis connection
REDIS_HOST=redis

# id of chain, for example 3 for Ropsten testnet, 1 for ETH mainnet
CHAIN_ID=1

# rpc url for getting access to blockchain
ETH_RPC_URL= **_ change me _**

# WatchChain contract address
WATCH_CHAIN_ADDRESS= **_ change me _**
MULTICALL_ADDRESS= **_ change me _**
# Block when contract deployed
START_BLOCK= **_ change me _**

# Token for telegram bot. You can create a new telegram bot using bot @BotFather
TG_BOT_TOKEN= **_ change me _**

# Name of created telegram bot
TG_BOT_NAME= **_ change me _**

# Channel for sending notifications
TG_EVENT_CHANNEL= **_ change me _**

# Url email provider domain. For example, wcn-info.publicvm.com
EMAIL_PROVIDER_DOMAIN= **_ change me _**

# Api key for email provider
EMAIL_PROVIDER_API_KEY= **_ change me _**

# Link to site
WCN_LINK= **_ change me _**
